{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
<div class="test-main">

    <div class="container-fluid p-l-r-0">
        <div class="container-banniere">
            {% if anime.filename %}
            <img src="{{vich_uploader_asset(anime, 'imageFile') | imagine_filter('thumb3') }}" alt="Page img">
            {% else %}
            <img src="{{ asset('css/images/pageAnime-banner.jpg') | imagine_filter('thumb3') }}" alt="Page img">
            {% endif %}

        </div>

    </div>

    <div class="container container-article">
        <h2><a href="">
                {{anime.title}}
            </a></h2>
    </div>

    <div class="container-fluid container-article row mb-3">
        <div class="container-fluid">
            <div class="row ml-1">
                <div id="main-page" class="col-xl-6 col-md-12 p-l-r-0">
                    <div class="main-page mb-2">
                        <p>Année de production : <spans>{{anime.anneeDeProduction}}</spans>
                        </p>
                        {# <p class="post-metadata-page">Catégorie : <span class="metadata-categories">Test</span></p>
                        #}
                        <p>Studio de production : <spans>{{anime.studio}}</spans>
                        </p>
                        <p>Classification : <spans>{{choice}}</spans>
                        </p>

                    </div>
                </div>
                <div id="aside-page" class="col-xl-6 col-md-0 p-l-r-0">
                    <div class="aside-page">
                        <p id="synopsis">Synopsis :</p>
                        <div class="synopsis-text">
                            <p>{{anime.description}}</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row mb-3 mt-2">
        <hr class="sep-horizontal-bar">
        <h4 class="">LIENS DE TÉLÉCHARGEMENT</h4>
        <hr class="sep-horizontal-bar">

    </div>

    {% for episode in episodes %}

    <div class="d-flex flex-row mb-5 justify-content-center">
        <p class="ddl-episode-text">Épisode {{episode.numero}} :</p>
        <a href="{{ episode.lien }}" target="_blank" class="BUTTON_KZF">10 bits MKV</a>
    </div>


    {% endfor %}


    <div class="d-flex flex-row mb-3 mt-2">
        <hr class="sep-horizontal-bar">
        <h4 class="">NOTER LA SÉRIE</h4>
        <hr class="sep-horizontal-bar">

    </div>




</div>
{% endblock %}