{{ form_start(form) }}
        <div class="row">
            <div class="col-9 md-4">{{ form_row(form.email, {'attr':{'placeholder':'exemple@gmail.com'}}) }}</div>    
        </div>

        <div class="row">
            <div class="col-9 md-4">{{ form_row(form.username, {'attr':{'placeholder':'Nom d\'utilisateur'}}) }}</div>
        </div>

        <div class="row">
            <div class="col-9 md-4">{{ form_row(form.password, {'attr':{'placeholder':'Mot de passe'}}) }}</div>
        </div>

        <div class="row">
            <div class="col-9 md-4">{{ form_row(form.confirm_password, {'attr':{'placeholder':'Répétez votre mot de passe'}}) }}</div>
        </div>

        
        <button class="btn btn-success">{{ button |default('Enregistrer') }}</button>

        {{ form_end(form) }}