{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
<div class="test-main">

    <div class="container-fluid p-l-r-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{{ path('anime_show', {'id': 17}) }}"><img class="d-block w-100" src="{{ asset('images/animes/5c54a2cf2e4d1492123500.jpg') | imagine_filter('thumb3') }}"
                            alt="First slide"></a>
                </div>
                <div class="carousel-item">
                    <a href="{{ path('anime_show', {'id': 16}) }}"><img class="d-block w-100" src="{{ asset('images/animes/5c534c648db0e925744962.jpg') | imagine_filter('thumb3') }}"
                            alt="Second slide"></a>
                </div>
                <div class="carousel-item">
                    <a href="{{ path('anime_show', {'id': 14}) }}"><img class="d-block w-100" src="{{ asset('images/animes/5c53612ed389e100757586.jpg') | imagine_filter('thumb3') }}"
                            alt="Third slide"></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    {% for post in posts %}

    {% include 'news/_post.html.twig' %}


    {% endfor %}

    <div class="container pagination">
        <div class="row mx-auto">
            {{ knp_pagination_render(posts) }}
        </div>
    </div>

</div>
{% endblock %}