{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="test-main">

        <div class="container-fluid p-l-r-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="https://www.everycloudtech.com/sites/default/files/white-clouds-and-blue-sky.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQg9JCZpDQCRQHexkeee45ipG68mN3UTrKJRkX-yF-Irll-gfVd" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="http://votreimageenlumiere.fr/wp-content/uploads/2017/03/suivi-apres-coaching-en-image-evolution-marguerite-banner.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>


        
        {% for post in posts %}
            
            <div class="container container-article">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="container-thumbnail d-flex justify-content-center">
                            <img src="{{ post.image }}">
                        </div>
                    </div>
                    <article class="post col-xl-9">
                        <h1>
                            <a href="{{ path('news_show', {'id': post.id}) }}">
                            {{ post.title }}
                            </a>
                        </h1>

                        <p class="post-metadata">
                            <span class="metadata-categories">{{ post.category }}</span> <span class="metadata-author">{{ post.author }}</span><span class="metadata">-</span><span class="metadata">{{ post.createdAt | date('d/m/y') }}</span>
                            
                        </p>

                        <p>{{ post.content|length > 200 ? post.content|slice(0, 50) ~ '...' : post.content  }}</p>

                    </article>
                </div>
            </div>

            
        {% endfor %}

            <div class="container pagination">
                <div class="row mx-auto">
                    {{ knp_pagination_render(posts) }}
                </div>
            </div>

    </div>
{% endblock %}