<div class="d-flex flex-row mb-3 mt-2">
    <hr class="sep-horizontal-bar">
    <h4 class="">Commentaires</h4>
    <hr class="sep-horizontal-bar">
</div>

{% if app.user %}
<div class="container">

    <div class="comment row">
        <a class="comment_avatar ml-3" href="#">
            <img src="https://fakeimg.pl/75x75/">
        </a>
        <div class="comment-main col">
            {{ form_start(form) }}

            {{ form_row(form.content) }}


            <button data-toggle="modal" data-target="#Modal" data-url="{{path('news_show', {'id': post.id})}}" class="btn btn-secondary Comments-logBtn float-right js-new">{{
                button |default('Enregistrer') }}</button>

            {{ form_end(form) }}

        </div>
    </div>
</div>
<hr class="sep-horizontal-bar-full">
{% else %}
<hr>
<div class="container">
    <h1>Seul les utilisateurs identifiés peuvent laisser des commentaires</h1>
    <a class="btn btn-primary Comments-logBtn" href="{{ path('app_login') }}" role="button">Se connecter</a>
    <a class="btn btn-primary ml-4 Comments-logBtn" href="{{ path('app_register') }}" role="button">S'inscrire</a>
</div>
<hr>
{% endif %}

<div class="commentaire container mt-5">

    {% if post.comments|length != 0 %}

    {% for comment in post.comments|reverse %}

    <div class="comment-{{comment.id}}">
        <div class="row">
            <div class="div col-12">
                <p class="post-metadata ml-auto">
                    {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <span class="metadata-author">{{ comment.user.username }}</span><span class="metadata">-</span><span
                        class="metadata-date">{{comment.createdAt|
                        date('d/m/y à h:i') }}</span><span class="comment_dot">•</span><a href="#" class="js-update"><span
                            class="metadata-admin-action">Modifier</span></a><span class="comment_dot">•</span><a href="{{path('comment_delete', {'post_id': post.id, 'id': comment.id})}}"
                        class="js-delete" data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Supprimer</span></a><span
                        class="comment_dot">•</span><a href="{{path('comment_report', {'post_id': post.id, 'id': comment.id})}}"
                        class="js-report" data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Signaler</span></a>

                    {% else %}
                    <span class="metadata-author">{{ comment.user.username }}</span><span class="metadata">-</span><span
                        class="metadata-date">{{comment.createdAt|
                        date('d/m/y à h:i') }}</span>
                    {% if user.id == comment.user.id %}

                    <span class="comment_dot">•</span>
                    <a href="#" class="js-update"><span class="metadata-admin-action">Modifier</span></a>

                    <span class="comment_dot">•</span>
                    <a href="{{path('comment_delete', {'post_id': post.id, 'id': comment.id})}}" class="js-delete"
                        data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Supprimer</span></a>


                    <span class="comment_dot">•</span>
                    <a href="{{path('comment_report', {'post_id': post.id, 'id': comment.id})}}" class="js-report"
                        data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Signaler</span></a>

                    {% else %}


                    <span class="comment_dot">•</span>
                    <a href="{{path('comment_report', {'post_id': post.id, 'id': comment.id})}}" class="js-report"
                        data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Signaler</span></a>
                    {% endif %}
                    {% endif %}


                    {% else %}
                    <span class="metadata-author">{{ comment.user.username }}</span><span class="metadata">-</span><span
                        class="metadata-date">{{comment.createdAt|
                        date('d/m/y à h:i') }}</span><span class="comment_dot">•</span><a href="{{path('comment_report', {'post_id': post.id, 'id': comment.id})}}"
                        class="js-report" data-toggle="modal" data-target="#Modal"><span class="metadata-admin-action">Signaler</span></a>
                    {% endif %}



                </p>

            </div>

            <div class="col-12 mb-5 comment-content-{{comment.id}}">
                {{comment.content}}

            </div>

        </div>
    </div>
    <hr>
    {% endfor %}
    {% else %}
    <div class="commentaire container mt-5 mb-4">
        <h1>Il n'y a aucun commentaire de posté pour l'instant, soyez le premier !</h1>
    </div>
    {% endif %}

</div>