<div class="container container-article">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="container-thumbnail d-flex justify-content-center">
                            <img src="{{ asset('css/images/article-banner.jpg') }}">
                        </div>
                    </div>
                    <article class="post col-xl-9">
                        <h1>
                            <a href="{{ path('news_show', {'id': post.id}) }}">
                            {{ post.title }}
                            </a>
                        </h1>

                        <p class="post-metadata">
                            <span class="metadata-categories">{{ post.category.title }}</span> <span class="metadata-author">{{ post.author }}</span><span class="metadata">-</span><span class="metadata">{{ post.createdAt | date('d/m/y') }}</span>
                            
                        </p>

                        <p>{{ post.content|length > 200 ? post.content|slice(0, 50) ~ '...' : post.content  }}</p>

                    </article>
                </div>
            </div>