{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}
    <div class="test-main">
        
        {% for post in posts %}
            <div class="container container-article">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="container-thumbnail d-flex justify-content-center">
                            <img src="{{ post.image }}">
                        </div>
                    </div>
                    <article class="post col-xl-9">
                        <h2>
                            <a href="/actualites/show/{{ post.id }}">
                            {{ post.title }}
                            </a>
                        </h2>

                        <p class="post-metadata">
                            <span class="metadata">{{ post.category }}</span><span class="metadata">{{ post.author }}</span><span class="metadata">-</span><span class="metadata">{{ post.createdAt | date('d/m/y') }}</span>
                            
                        </p>

                        <p>{{ post.content|length > 200 ? post.content|slice(0, 50) ~ '...' : post.content  }}</p>

                    </article>
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}