{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body_id 'blog_index' %}
{% block main %}
    
    <div class="test-main">
            
        <div class="container-fluid p-l-r-0">

            <div class="container-banniere">
                <img class="w-100" src="{{ asset('css/images/article-banner.jpg') }}" alt="Page img">
            </div>

        </div>

        <div class="container container-article">
        
            <article class="post d-flex flex-column">
                <h1 class="mx-auto title-show">
                    <a href="#">
                    {{ post.title }}
                    </a>
                </h1>

                <p class="mx-auto">{{ post.content|raw }}</p>

                <p class="post-metadata ml-auto">
                    <span class="metadata-author">{{ post.user.username }}</span><span class="metadata">-</span>{% if post.updatedAt != null %}<span class="metadata-date">{{ post.updatedAt | date('d/m/y') }}</span>{% else %}<span class="metadata-date">{{ post.createdAt | date('d/m/y') }}</span>{% endif %}<span class="metadata">-</span>catégorie : <span class="metadata-categories"> {{ post.category.title }}</span>
                </p>
                    
            </article>

        </div>

        {{ include ('news/_comment.html.twig', {button: 'Poster'}) }}

                

    </div>

{% endblock %}
