{% extends 'baseAdmin.html.twig' %}

{% block title %}Gérer les commentaires{% endblock %}

{% block body_id 'blog_index' %}

{% block main %}

<div class="container mt-4">

    <h1>Gérer les commentaires signalé</h1>

    {% for message in app.flashes('success') %}

    <div class="alert alert-success">
        {{ message }}
    </div>

    {% endfor %}

    <h2>Liste des commentaires signalé</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(comments, 'ID', 'c.id')}}</th>
                <th>Auteur</th>
                <th>Commentaire</th>
                <th>Article</th>
                <th>{{ knp_pagination_sortable(comments, 'Date de création', 'c.createdAt')}}</th>
                <th>{{ knp_pagination_sortable(comments, 'Date de modification', 'c.updatedAt')}}</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in comments %}

            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.user.username }}</td>
                <td>{{ comment.content|length > 50 ? (comment.content|slice(0, 70) ~ '...') : comment.content }}</td>
                <td><a href="{{ path('news_show', {id: comment.post.id}) }}">{{ comment.post.title }}</a></td>
                <td>{{ comment.createdAt| date('d/m/y à h:i') }}</td>
                <td>
                    {% if comment.updatedAt == comment.createdAt %}
                    - {% else %}
                    {{ comment.updatedAt| date('d/m/y à h:i') }}
                    {% endif %}
                </td>
                <td><a href="{{ path('admin_comment_edit', {id: comment.id}) }}" class="btn btn-secondary">Éditer</a>
                    <form method="post" action="{{ path('admin_comment_delete', {id: comment.id}) }}" style="display: inline-block"
                        onsubmit="return confirm('Confirmer la Supression ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>


            {% endfor %}


        </tbody>
    </table>
    <a href="{{ path('admin_comment_index') }} " class="btn btn-secondary">Retour à la liste des commentaires</a>
    <div class="container pagination">
        <div class="row mx-auto">
            {{ knp_pagination_render(comments) }}
        </div>
    </div>
</div>
{% endblock %}