{% extends 'baseAdmin.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}
{% block body_id 'blog_index' %}

{% block main %}

<div class="container mt-4">
    <h1>Gérer les catégories</h1>

    {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

    {% endfor %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-secondary">Éditer</a>
                    {{ include('admin/category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_category_new') }}" class="btn btn-primary">Créer</a>

</div>
{% endblock %}
